@import "tailwindcss";


/* width */
/* tailwind.css or global.css */
.scrollbar-none::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scrollbar-none::-webkit-scrollbar-track {
    background: none;
}

.scrollbar-none::-webkit-scrollbar-thumb {
    background: none;
}

.scrollbar-none::-webkit-scrollbar-thumb:hover {
    background: none;
}

.scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}